@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BestFor.Sturgeon.TeamModel
@{
    Layout = "_SturgeonLayout.cshtml";
    ViewData["Title"] = "Team Page";
}
<script type="text/javascript">
    $(document).ready(function () {
        // Assign all slots waschecked to be the same as checked on load
        // because checked comes from the server side.
        $('input[name*="Slot"]').each(function (i) {
            $(this).data('waschecked', $(this).prop('checked'));
        });

        // Show all values
        $('input[name*="Slot"]').each(function (i) {
            console.log(this.name + " " + $(this).prop('checked') );
        });
    });

    $(function () {
        // bind all clicks
        $('input[name*="Slot"]').click(function () {
            var $radio = $(this);
            console.log($radio.data('waschecked'));

            // if this was previously checked
            if ($radio.data('waschecked') == true) {
                $radio.prop('checked', false);
                $radio.data('waschecked', false);
            }
            else
                $radio.data('waschecked', true);

            // remove was checked from other radios
            $radio.siblings('input[name*="Slot"]').data('waschecked', false);
        });
    });

</script>
<h2>Team @Model.TeamName!</h2>
<p class="smaller-text">Addathon Teams, this is your score card used to update your score and runs live, it will update main score page for all teams live.
All teams will get a link the night before to there own private score sheet with password.<br /><br />
Any questions message me Andy Doudna on facebook.<br />
AFTER YOU UPLOAD VIDEO TO FACEBOOK PAGE PER ADDATHON RULES ...<br />
1. Update your score sheet, select corresponding entry class of sturgeon per video uploaded.<br />
2. Enter password in password box and click "Submit".<br />
This will update your score, to see team standings. Visit the addathon page to see team scores.</p>
<span class="red">@Model.ErrorMessage</span><br />
<form asp-action="Team" method="post" role="form">
    <input type="hidden" asp-for="TeamName" />
    <table class="score_table">
        <tr>
            <th>Entry</th>
            <th>Shaker</th>
            <th>Slot</th>
            <th>Oversize</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>Entry # 1</td>
            <td>Shaker <input type="radio" asp-for="Slot1" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot1" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot1" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot1</td>
        </tr>
        <tr>
            <td>Entry # 2</td>
            <td>Shaker <input type="radio" asp-for="Slot2" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot2" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot2" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot2</td>
        </tr>
        <tr>
            <td>Entry # 3</td>
            <td>Shaker <input type="radio" asp-for="Slot3" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot3" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot3" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot3</td>
        </tr>
        <tr>
            <td>Entry # 4</td>
            <td>Shaker <input type="radio" asp-for="Slot4" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot4" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot4" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot4</td>
        </tr>
        <tr>
            <td>Entry # 5</td>
            <td>Shaker <input type="radio" asp-for="Slot5" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot5" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot5" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot5</td>
        </tr>
        <tr>
            <td>Entry # 6</td>
            <td>Shaker <input type="radio" asp-for="Slot6" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot6" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot6" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot6</td>
        </tr>
        <tr>
            <td>Entry # 7</td>
            <td>Shaker <input type="radio" asp-for="Slot7" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot7" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot7" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot7</td>
        </tr>
        <tr>
            <td>Entry # 8</td>
            <td>Shaker <input type="radio" asp-for="Slot8" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot8" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot8" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot8</td>
        </tr>
        <tr>
            <td>Entry # 9</td>
            <td>Shaker <input type="radio" asp-for="Slot9" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot9" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot9" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot9</td>
        </tr>
        <tr>
            <td>Entry # 10</td>
            <td>Shaker <input type="radio" asp-for="Slot10" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot10" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot10" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot10</td>
        </tr>
        <tr>
            <td>Entry # 11</td>
            <td>Shaker <input type="radio" asp-for="Slot11" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot11" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot11" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot11</td>
        </tr>
        <tr>
            <td>Entry # 12</td>
            <td>Shaker <input type="radio" asp-for="Slot12" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot12" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot12" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot12</td>
        </tr>
        <tr>
            <td>Entry # 13</td>
            <td>Shaker <input type="radio" asp-for="Slot13" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot13" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot13" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot13</td>
        </tr>
        <tr>
            <td>Entry # 14</td>
            <td>Shaker <input type="radio" asp-for="Slot14" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot14" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot14" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot14</td>
        </tr>
        <tr>
            <td>Entry # 15</td>
            <td>Shaker <input type="radio" asp-for="Slot15" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot15" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot15" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot15</td>
        </tr>
        <tr>
            <td>Entry # 16</td>
            <td>Shaker <input type="radio" asp-for="Slot16" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot16" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot16" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot16</td>
        </tr>
        <tr>
            <td>Entry # 17</td>
            <td>Shaker <input type="radio" asp-for="Slot17" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot17" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot17" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot17</td>
        </tr>
        <tr>
            <td>Entry # 18</td>
            <td>Shaker <input type="radio" asp-for="Slot18" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot18" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot18" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot18</td>
        </tr>
        <tr>
            <td>Entry # 19</td>
            <td>Shaker <input type="radio" asp-for="Slot19" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot19" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot19" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot19</td>
        </tr>
        <tr>
            <td>Entry # 20</td>
            <td>Shaker <input type="radio" asp-for="Slot20" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot20" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot20" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot20</td>
        </tr>
        <tr>
            <td>Entry # 21</td>
            <td>Shaker <input type="radio" asp-for="Slot21" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot21" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot21" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot21</td>
        </tr>
        <tr>
            <td>Entry # 22</td>
            <td>Shaker <input type="radio" asp-for="Slot22" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot22" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot22" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot22</td>
        </tr>
        <tr>
            <td>Entry # 23</td>
            <td>Shaker <input type="radio" asp-for="Slot23" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot23" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot23" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot23</td>
        </tr>
        <tr>
            <td>Entry # 24</td>
            <td>Shaker <input type="radio" asp-for="Slot24" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot24" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot24" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot24</td>
        </tr>
        <tr>
            <td>Entry # 25</td>
            <td>Shaker <input type="radio" asp-for="Slot25" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot25" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot25" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot25</td>
        </tr>
        <tr>
            <td>Entry # 26</td>
            <td>Shaker <input type="radio" asp-for="Slot26" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot26" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot26" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot26</td>
        </tr>
        <tr>
            <td>Entry # 27</td>
            <td>Shaker <input type="radio" asp-for="Slot27" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot27" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot27" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot27</td>
        </tr>
        <tr>
            <td>Entry # 28</td>
            <td>Shaker <input type="radio" asp-for="Slot28" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot28" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot28" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot28</td>
        </tr>
        <tr>
            <td>Entry # 29</td>
            <td>Shaker <input type="radio" asp-for="Slot29" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot29" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot29" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot29</td>
        </tr>
        <tr>
            <td>Entry # 30</td>
            <td>Shaker <input type="radio" asp-for="Slot30" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot30" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot30" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot30</td>
        </tr>
        <tr>
            <td>Entry # 31</td>
            <td>Shaker <input type="radio" asp-for="Slot31" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot31" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot31" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot31</td>
        </tr>
        <tr>
            <td>Entry # 32</td>
            <td>Shaker <input type="radio" asp-for="Slot32" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot32" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot32" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot32</td>
        </tr>
        <tr>
            <td>Entry # 33</td>
            <td>Shaker <input type="radio" asp-for="Slot33" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot33" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot33" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot33</td>
        </tr>
        <tr>
            <td>Entry # 34</td>
            <td>Shaker <input type="radio" asp-for="Slot34" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot34" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot34" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot34</td>
        </tr>
        <tr>
            <td>Entry # 35</td>
            <td>Shaker <input type="radio" asp-for="Slot35" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot35" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot35" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot35</td>
        </tr>
        <tr>
            <td>Entry # 36</td>
            <td>Shaker <input type="radio" asp-for="Slot36" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot36" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot36" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot36</td>
        </tr>
        <tr>
            <td>Entry # 37</td>
            <td>Shaker <input type="radio" asp-for="Slot37" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot37" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot37" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot37</td>
        </tr>
        <tr>
            <td>Entry # 38</td>
            <td>Shaker <input type="radio" asp-for="Slot38" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot38" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot38" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot38</td>
        </tr>
        <tr>
            <td>Entry # 39</td>
            <td>Shaker <input type="radio" asp-for="Slot39" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot39" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot39" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot39</td>
        </tr>
        <tr>
            <td>Entry # 40</td>
            <td>Shaker <input type="radio" asp-for="Slot40" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot40" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot40" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot40</td>
        </tr>
        <tr>
            <td>Entry # 41</td>
            <td>Shaker <input type="radio" asp-for="Slot41" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot41" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot41" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot41</td>
        </tr>
        <tr>
            <td>Entry # 42</td>
            <td>Shaker <input type="radio" asp-for="Slot42" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot42" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot42" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot42</td>
        </tr>
        <tr>
            <td>Entry # 43</td>
            <td>Shaker <input type="radio" asp-for="Slot43" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot43" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot43" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot43</td>
        </tr>
        <tr>
            <td>Entry # 44</td>
            <td>Shaker <input type="radio" asp-for="Slot44" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot44" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot44" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot44</td>
        </tr>
        <tr>
            <td>Entry # 45</td>
            <td>Shaker <input type="radio" asp-for="Slot45" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot45" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot45" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot45</td>
        </tr>
        <tr>
            <td>Entry # 46</td>
            <td>Shaker <input type="radio" asp-for="Slot46" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot46" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot46" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot46</td>
        </tr>
        <tr>
            <td>Entry # 47</td>
            <td>Shaker <input type="radio" asp-for="Slot47" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot47" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot47" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot47</td>
        </tr>
        <tr>
            <td>Entry # 48</td>
            <td>Shaker <input type="radio" asp-for="Slot48" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot48" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot48" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot48</td>
        </tr>
        <tr>
            <td>Entry # 49</td>
            <td>Shaker <input type="radio" asp-for="Slot49" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot49" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot49" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot49</td>
        </tr>
        <tr>
            <td>Entry # 50</td>
            <td>Shaker <input type="radio" asp-for="Slot50" value="3" data-waschecked="false" /></td>
            <td>Slot <input type="radio" asp-for="Slot50" value="7" data-waschecked="false" /></td>
            <td>Oversize <input type="radio" asp-for="Slot50" value="5" data-waschecked="false" /></td>
            <td>@Model.Slot50</td>
        </tr>
        <tr>
            <td>Passsword</td>
            <td colspan="2"><input asp-for="Password" type="password" /></td>
            <td>Total</td>
            <td>@Model.Score</td>
        </tr>
        <tr>
            <td colspan="5">
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>